In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("Trans_Course_Demos.csv")
data

In [ ]:
data.columns

### Creating a fake Dataset based on the Dataset of the Trans_Course_Demos.csv

In [ ]:
data = pd.DataFrame()
data["PIFID"] = ["moontreemidwifery@gmail.com", "allie.evans@hsc.utah.edu", 
                 "bailey.jones@hsc.utah.edu", "jonny.jones@hsc.utah.edu", 
                "blake.jackson@hsc.utah.edu", "suntreemidwifery@gmail.com", 
                "moonplantidwifery@gmail.com", "mooncloudmidwifery@gmail.com",
                "suncliffmidwifery@gmail.com", "markzuber@gmail.com", 
                "carter.morris@hsc.utah.edu", "bridger.jones@hsc.utah.edu",
                "brook.jackson@hsc.utah.edu", "wendy.jones@hsc.utah.edu",
                "alex.morrison@hsc.utah.edu", "jake.bell@hsc.utah.edu", 
                "philjackson@hsc.utah.edu", "corybrooks@yahoo.com",
                "marybrooks@yahoo.com", "donavonbrooks@yahoo.com", "coryjames@yahoo.com",
                "perryparis@yahoo.com", "eringreen@yahoo.com", "erinbrooks@yahoo.com"]
data["ER5"] = [21040716, 21040718, 21040719, 21040721, 21040725, 21040728, 21040731,
              21040734, 21040740, 21040741, 21040744, 21040742, 21040745, 21040748, 
              21040750, 21040751, 21040752, 21040753, 21040755, 21040756, 21040758, 
              21040772, 21040710, 21040711]
data["PIFDATE"] = ["10/29/2021 19:46:08", "11/03/2021 19:15:49", "11/05/2021 19:15:49",
                  "11/01/2021 19:56:08", "11/02/2021 19:36:08", "10/28/2021 19:26:08", 
                  "10/28/2021 19:12:08", "10/29/2021 19:06:08", "10/29/2021 19:44:05",
                  "10/29/2021 17:46:08", "10/28/2021 15:46:08", "10/27/2021 12:46:08",
                  "10/27/2021 19:45:12", "10/29/2021 19:55:18", "10/29/2021 19:05:05",
                  "11/01/2021 19:22:12", "10/29/2021 19:12:23", "10/28/2021 13:36:38",
                  "10/29/2021 17:56:55", "10/30/2021 12:46:08", "10/30/2021 19:45:18",
                  "11/01/2021 19:45:18", "11/01/2021 11:45:18", "11/02/2021 10:44:18"]
data['City'] = ["Sandy", "Salt Lake City", "Logan", "Salt Lake City", "Salt Lake City",
               "Salt Lake City", "Salt Lake City", "Salt Lake City", "Salt Lake City", 
               "Logan", "Logan", "Sandy","Sandy", "Denver", "Denver", "Denver", "Denver",
               "Denver", "Fort Collins", "Fort Collins", "Fort Collins", "Reno", "Reno", 
                "Reno"]
data["State"] = ["UT", "UT", "UT", "UT", "UT", "UT", "UT", "UT", "UT", "UT", "UT","UT", "UT",
                "CO", "CO", "CO", "CO", "CO", "CO", "CO", "CO", "NV", "NV", "NV"]
data["Registration Zip"] = [84047, 84109, 84321,84109, 84109, 84109, 84109, 84109, 84109,
                           84321, 84321, 84047, 84047, 80014, 80014, 80014, 80014, 80014, 
                           80521, 80521, 80521, 89433, 89433, 89433]
data["Years in HIV Care"] = [1,2,3,4,5,6,7,8,1,2,3,2,1,2,3,4,3,5,4,7,6,4,2,1]
data["PIF3"] = [17,18,1,3,4,3,4,5,6,2,3,4,5,1,2,12,3,4,13,12,14,2,3,4]
data["PIF4"] = [4,14,1,4,14,2,3,1,4,2,3,5,8,8,4,3,4,5,6,8,4,10,12,14]
data["PIF5"] = [0,0,1,1,0,0,0,0,1,0,0,1,0,1,0,1,0,0,1,0,1,0,0,1]
data["PIF601"] = [0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,1,1,1]
data["PIF602"] = [0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,0,0]
data["PIF603"] = [1,1,0,0,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0]
data["PIF604"] = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
data["PIF605"] = [0,0,1,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0,0]
data["PIF7"] = [3,9,1,1,3,2,1,2,3,9,2,3,9,1,2,1,2,9,1,2,3,1,2,4]
data["PIF8"] = [8,23,1,24,2,3,6,6,5,7,20,12,11,13,1,4,14,5,6,7,8,4,4,5]
data["PIF901"] = [84109, 84109, 84109, 84047, 84047, 84047, 84047, 84047, 84047, 84047,
                 84047, 84109, 84109, 84109, 84109, 84109, 84109, 80014, 80014, 80014, 
                 80014,80014, 80014, 80014]
data["PIF902"] = [float("NaN")]*24
data["PIF903"] = [float("NaN")]*24
data["PIF10"] = [0]*24
data["PIF11"] = [0]*24
data["PIF3_Specify_OtherAllied"] = ["Surgical Tech",float("NaN"), float("NaN"),
                                    "Surgical Tech", "Surgical Tech", float("NaN"),
                                   float("NaN"), float("NaN"),float("NaN"),float("NaN"),
                                   float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                                   float("NaN"), "Surgical Tech", float("NaN"),float("NaN"),
                                   float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                                   float("NaN"),float("NaN")]
data["PIF3_Specify_OtherNonClinical"] = [float("NaN"),"Front Desk Receptionist", float("NaN"),
                                        "Front Desk Receptionist","Front Desk Receptionist",
                                        "Front Desk Receptionist",float("NaN"),float("NaN"),
                                        float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                                        float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                                        float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                                        float("NaN"),float("NaN"),float("NaN"),float("NaN")]
data["PIF4_Specify"] = [float("NaN"),"Continuing Education Student", float("NaN"),
                       float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                       "Graduate Student", "Continuing Education Student","Graduate Student",
                       "Graduate Student","Continuing Education Student",
                       "Continuing Education Student","Continuing Education Student",
                       float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                       float("NaN"),float("NaN"),float("NaN"),float("NaN")]
data["PIF12"] = [0,0,1,1,0,0,1,0,1,1,0,1,0,1,0,1,0,0,0,1,0,1,0,0]
data["PIF13"] = [0,0,9,1,1,0,0,0,0,0,9,9,9,9,9,9,9,9,9,float("NaN"),9,0,float("NaN"),0]
data["PIF14"] = [0,0,1,float("NaN"),1,0,0,float("NaN"),float("NaN"),
                 float("NaN"),float("NaN"),float("NaN"),0,0,0,0,1,1,0,0,0,0,0,0]
data["PIF15"] = [0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,float("NaN"),float("NaN"),
                float("NaN")]
data["PIF16"] = [float("NaN"),1, float("NaN"), float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),1,1,float("NaN"),float("NaN"),float("NaN")]
data["PIF17"] = [float("NaN"),3, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),22,45,float("NaN"),float("NaN"),float("NaN")]
data["PIF18"] = [float("NaN"),44, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),454,7890,float("NaN"),float("NaN"),float("NaN")]
data["PIF19"] = [float("NaN"),3, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),1,1,float("NaN"),float("NaN"),float("NaN")]
data["PIF20"] = [float("NaN"),3, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),2,3,float("NaN"),float("NaN"),float("NaN")]
data["PIF21"] = [float("NaN"),3, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),2,4,float("NaN"),float("NaN"),float("NaN")]
data["PIF22"] = [float("NaN"),3, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),3,3,float("NaN"),float("NaN"),float("NaN")]
data["PIF23"] = [float("NaN"),3, float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                 float("NaN"),
                float("NaN"),float("NaN"),float("NaN"),float("NaN"),float("NaN"),
                float("NaN"),float("NaN"),3,4,float("NaN"),float("NaN"),float("NaN")]
data

In [ ]:
data.dtypes[3]

In [ ]:
data.columns[3]

In [ ]:
col_name = []
col_data_arr = []

# this code finds all of the columns that have object datatypes in the data dataframe and then removes them 
# from the data dataframe
for i in range(len(data.columns)):
    if data.dtypes[i] == "object":
        col_data = data[data.columns[i]]
        col_data_arr.append(col_data)
        col_name.append(data.columns[i])

print(col_name)      
data = data.drop(col_name, axis = 1)

# Following removal of the columns with an object datatype, the object datatype columns
# are readded to the end of the dataframe
for i in range(len(col_name)):
    data[col_name[i]] = col_data_arr[i]

# This adds the keyword Categ to the end of the column names that have an object dtype
for i in range(len(data.columns)):
    if data.dtypes[i] == "object" and i != 0:
        data = data.rename(columns={data.columns[i]: data.columns[i]+"Categ"})
    elif i == 0:
        data = data.rename(columns={data.columns[i]: "ID"})
data

In [ ]:
# this removes spaces and special characters from the categories
for i in range(len(data.columns)):
    if data.dtypes[i] == "object" and "DATE" not in data.columns[i]:
        
        for k in range(len(data)):
            if type(data[data.columns[i]][k]) == str:
                data[data.columns[i]][k] = data[data.columns[i]][k].replace("/", "-")
                data[data.columns[i]][k] = data[data.columns[i]][k].replace(".", "dot")
                data[data.columns[i]][k] = data[data.columns[i]][k].replace("@", "at")
                data[data.columns[i]][k] = data[data.columns[i]][k].replace(" ", "")
    
    # this changes the date format into a compatible date format     
    elif data.dtypes[i] == "object" and "DATE" in data.columns[i]:
        for k in range(len(data)):
            data[data.columns[i]][k] = "Date" + data[data.columns[i]][k][0:10]
            data[data.columns[i]][k] = data[data.columns[i]][k].replace("/", "-")
data

In [ ]:
data['ID'] = 'id' + data['ID'].astype(str)

In [ ]:
data.dtypes

In [ ]:
data.to_csv("FakeSoMData.csv", index = False)

In [ ]:
data.to_csv("data/demo.csv", index = False)